APP_PORT=8080
TZ=Asia/Shanghai
SPRING_PROFILES_ACTIVE=cloud
MYSQL_ADDRESS=mysql:3306
MYSQL_DATABASE=quanjiafu
MYSQL_USERNAME=quanjiafu
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me
JAVA_OPTS=-XX:MaxRAMPercentage=75.0
